* {
  --primary: #2176bd;
  --secondary: #c492ef;

  --error: #e74c3c;
  --warning: #f1820f;
  --success: #2ecc71;

  --white: #ffffff;
  --black: #313744;

  --gray: #a0a0a0;
  --light-gray: #d7d7d7;
  --gray-blue: #c4d7e2;

  --main-bg: #f2f5f4;
  --primary-text-color: var(--black);

  --gradient: linear-gradient(137deg, #2176bd -7%, #008ad6 115%);
}

body {
  background-color: #282c34;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
}

label {
  color: #fff;
  margin-bottom: 7px;
  font-weight: 600;
}

span {
  margin-top: 7px;
  color: var(--warning);
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  background: var(--gradient);
}

.container {
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 10px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
